extends base

block content
    .container-fluid.mt-2.mb-4
        .row 
            .col
                br
                br
                a.dropdown-item(href="#") Settings
                a.dropdown-item(href="#") My reviews
                a.dropdown-item(href="/my-tours") My bookings
                a.dropdown-item(href="#") Billing
            .col-10
                h3.text-center my Account

                //- Without API
                //- form#userDataForm(action='/submit-user-data' method='POST' enctype='multipart/form-data') 

                //- Wtih API 
                form#userDataForm
                    .mb-3
                        label.form-label(for="name") Name
                        input.form-control#name(type="text", value=`${user.name}`, name='name', required)
                    .mb-3
                        label.form-label(for="email") Email address
                        input.form-control#email(type="email", value=`${user.email}`, name='email', required)
                    .mb-3
                        img.rounded-circle(src=`/img/users/${user.photo}` width="70" height="70" )
                        input.form-control.mt-2#photo(type='file' accept='image/*' name='photo')
                    .d-grid.gap-2.col-6.mx-auto
                        button.btn.btn-primary(type="submit") Save settings
        .row
            .col
                - if (user.role === 'admin')
                    hr
                    h4.text-center Admin Panenl
                    a.dropdown-item(href="#") Manage Tours
                    a.dropdown-item(href="#") Manage Users
                    a.dropdown-item(href="#") Manage Bookings
                    a.dropdown-item(href="/all-reviews") Manage Reviews
            .col-10
                hr
                h3.text-center Password Change
                form#userPasswordForm
                    .mb-3
                        label.form-label(for="currentPassword") Current password
                        input.form-control#currentPassword(type="password", required)
                    .mb-3
                        label.form-label(for="password") New password
                        input.form-control#password(type="password", required)
                    .mb-3
                        label.form-label(for="confirmPassword") Confirm password
                        input.form-control#confirmPassword(type="password", required)
                    .d-grid.gap-2.col-6.mx-auto
                        button.btn.btn-primary#savePasswordBtn(type="submit") Save password
