extends base

block content
    h2.text-center.mt-5.mb-5 Login
    form
        .container.mt-3.mb-5
            .mb-3
                input.form-control.text-center(type="email" id="exampleFormControlInput1" placeholder="Email")
            .mb-3
                input.form-control.text-center(type="password" id="exampleInputPassword1" placeholder="Password")
            .d-grid.col-5.mx-auto
                button.btn.btn-primary(type="submit") Log in
